* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#topSect {
  background-image: url("./hero-bg.jpg");
  background-size: cover;
  padding: 10px 0px;
  height: 100vh;
}
#navbar {
  padding: 5px 200px;
  a,
  #links li a {
    text-decoration: none;
    color: white;
  }
  a h2 {
    font-family: cursive;
    font-size: 32px;
  }
  #links li {
    margin: 0px 18px;
  }
  #links a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
  }
  #links li a:hover {
    color: #ffad20;
  }
  span a i:hover {
    color: #ffad20;
  }
  span button:hover {
    background-color: #d3911d;
  }
  a h2,
  ul,
  ul li {
    display: inline-block;
  }
  ul {
    margin: 0px 220px;
    margin-right: 0px;
    padding: 0px 10px;
  }
  span {
    float: right;
    a,
    button {
      margin: 0px 10px;
    }
    button {
      padding: 9px 30px;
      text-align: center;
      font-size: 17px;
      color: white;
      background-color: #ffad20;
      border-radius: 20px;
    }
  }
  #home {
    color: #ffad20 !important;
  }
}
#sect {
  padding: 90px 200px;
  color: white;
  h1,
  p {
    margin: 20px 0px;
  }
  h1 {
    font-family: cursive;
    font-size: 45px;
  }
  p {
    font-size: 15px;
    line-height: 1.4;
  }
  button {
    margin-top: 5px;
    padding: 12px 42px;
    text-align: center;
    background-color: #ffad20;
    color: white;
    font-size: 17px;
    border-radius: 25px;
  }
  button:hover {
    background-color: #d3911d;
  }
}
#days{
  padding: 30px 180px;
  display: flex;
  justify-content: center;
  gap: 30px;
  .daysDiv{
    height: 200px;
    width: 480px;
    background-color: #222831;
    display: flex;
    padding: 35px 18px;
    gap: 20px;
    align-items: center;
    span{
      border-radius: 50%;
      border: 4px solid #d3911d;
      height: 100%;
      overflow: hidden;
    }
    span img{
      height:100%;
    }
    div{
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: white;
      button{
        width: 150px;
        background-color: #ffad20;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 25px;
      }
      button:hover{
        background-color: #d3911d;
      }
    }
  }
  .daysDiv:hover span img{
    height: 120%;
  }
}
#food-cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  align-items: center;
  button {
    padding: 14px 50px;
    color: #f1f2f3;
    background-color: #ffad20;
    border-radius: 25px;
    border: none;
    font-size: 16px;
  }
  button:hover {
    background-color: #e69c00;
  }
}
#allboxes {
  padding: 75px 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px !important;
  justify-content: center;
}
.boxes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  color: white;
  background-color: #222831;
  border-radius: 20px;
  .imgdiv {
    text-align: center;
    background-color: #f1f2f3;
    padding: 25px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
  }
  .imgdiv img {
    height: 100px;
  }
  .imgdiv:hover img {
    height: 120px;
  }
  .content {
    padding: 5px 20px !important;
    p,
    h2,
    div {
      margin: 10px 0px;
    }
  }
  .price-icon {
    display: flex;
    justify-content: space-between;
    span {
      text-align: center;
      background-color: #ffbe33;
      border-radius: 50%;
      padding: 12px;
    }
  }
}
#weAre {
  display: flex;
  background-color: #222831;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  gap: 80px;
  img {
    height: 100%;
  }
  #weAreIn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    h2,
    p,
    a {
      color: white;
    }
    h2 {
      font-size: 32px;
    }
    p {
      line-height: 1.5;
    }
    a {
      text-decoration: none;
      background-color: #ffad20;
      padding: 12px 48px;
      text-align: center;
      width: 180px;
      border-radius: 25px;
    }
    a:hover {
      background-color: #e69c00;
    }
  }
}
#bookTable {
  display: flex;
  padding: 70px 50px;
  justify-content: center;

  #info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 70px;
    gap: 30px;
    height: 90vh;
    h2 {
      font-size: 28px;
    }
    a {
      text-decoration: none;
      background-color: #ffad20;
      padding: 12px 48px;
      text-align: center;
      width: 180px;
      border-radius: 25px;
      color: white;
    }
    a:hover {
      background-color: #e69c00;
    }
  }
}
#formMap {
  display: flex;

  justify-content: space-between;
}
#bookForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  input,
  select {
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: 1px solid black;
  }
}
